# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
ENV/
.env
.env.*
!.env.example
!.env.*.example

# VSCode
.vscode/
.history/

# Node/Vite/React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example
!frontend/.env.*.example

# Chrome Extension build artifacts
extension/node_modules/
extension/dist/
extension/.env

# OS
.DS_Store
Thumbs.db

# Test/coverage
coverage/
*.cover
*.log
*scripts/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Ignore test output
.pytest_cache/

# Ignore PowerShell history
*.pshistory

# Ignore JetBrains IDEs
.idea/

# Ignore test snapshots
frontend/tests/__snapshots__/

# Docker local data
oracle-data/